

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.rb {
    font-family: 'Roboto', sans-serif;
}
lol {
  font-family: 'Roboto', sans-serif;
}
h1 {
  text-align: center;
}
body {
  background-image: url(https://cdn.discordapp.com/attachments/692085673901162536/692383728512663632/b.jpg);
  font-family: 'Roboto', sans-serif;
  color: white;
}
.y {
  text-align: center;
}