

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.rb {
    font-family: 'Roboto', sans-serif;
}
lol {
  font-family: 'Roboto', sans-serif;
}
h1 {
  text-align: center;
}
body {
  background-image: url(http://mail-cards.net/muzs_alb/12079/40585/fon/fon_3a3122f60354718bf7bc96ea2dd376c8.gif);
  font-family: 'Roboto', sans-serif;
  color: white;
}
.y {
  text-align: center;
}
